.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    position:fixed;
    top:0px;
    background-color: aliceblue;
    z-index: 1;
    background-color: #2874f0; color: white;
    text-shadow: 1px 1px 1px black, 2px 1px 1px black;
    
    .logo-container {
      height: 15px;
      width: 110px;
      padding: 0px 20px;
    }
  
    .nav-links-container {
      width: 91%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 50px;
      
  
      .nav-link {
        padding: 10px 15px;
        cursor: pointer;
        color: white;
        text-shadow: 1px 1px 1px black, 2px 1px 1px black;
        font-weight:bold;
      }
    }
  }
  